# Copy to secrets.pkrvars.hcl and fill in.
# Use `-var-file` to pass to Packer.
#
#   packer build -var-file=secrets.pkrvars.hcl .
#
# See ./variables.pkr.hcl for other variables that are supported.

project = "my-project"

# Source image settings.
source_image_name = "suse-linux-micro-6-2-base-gm"
# Uncomment if using a project image instead of a silo image.
# source_image_project = "my-project"

# SUSE Customer Center (SCC) information.
scc_regcode = "ADFEXXXXXXXXXXXX"
scc_email   = "you@example.com"

# Optional: Configure specific network settings.
# ip_pool = "my-ip-pool"
# vpc     = "default"
# subnet  = "default"
